<!-- views/films/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>All Films</title>
  </head>
  
  <body>

    <div class="filmIndex-body">
    
    <%- include('../partials/_navbar.ejs') %> 
    
    <div class="hIndex">
    <h1>Browse all Films</h1>
   </div>
   
    <a href="/films/new">Add a New Film</a>

    <main>
      <div class = "main">
        <% films.forEach((film) => { %>
          
        
          <article class="indexplaceholderImg">
          
            <a href="/films/<%=film._id%>">
          
           <p><img src="<%= film.imageURL %>" alt=“<%= film.title %>” width ="250"></p>
           <%= film.title %>
          <p> <%= film.yearReleased %> </p>
        </a>
      </article>
      
        <% }) %>
      
    </main>
  
  </div>
  <% if (typeof message !== 'undefined') { %>
    <p><%= message %></p>
    <% } %>
  </body>
</html>
